<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Db1.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
   
		<roleManager enabled="true"/>
		<authentication mode="Forms"/>
		<compilation debug="true"/></system.web>
  
    <appSettings>
      <add key="DSN" value="server=localhost;uid=sa;pwd=;Database=aspfree"/>
    </appSettings>
    <system.web>
      <customErrors mode="Off" />
    </system.web>
  
  
</configuration>
